<!DOCTYPE html>
<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<title>Traning with Angular v2</title>
</head>
<body>

<div ng-app="MyApp" ng-controller="MyController">
	<p>{{title}}</p>
	<form>
       <input type="radio" ng-model="checked" value="500" ng-click="ChangeSymbol('X')" checked/> X</br>
        <input type="radio" ng-model="checked" value="1000" ng-click="ChangeSymbol('O')"/>O</br>
    </form>
    <p> Your Symbol: {{UserSymbol}} , Computer Symbol: {{ComputerSymbol}}</p>

    <p> <span ng-click="UserPlaying(0)">{{TicTacToe[0]}} </span> | <span ng-click="UserPlaying(1)">{{TicTacToe[1]}} </span> | <span ng-click="UserPlaying(2)">{{TicTacToe[2]}} </span> </p>

    <p> <span ng-click="UserPlaying(3)">{{TicTacToe[3]}} </span> | <span ng-click="UserPlaying(4)">{{TicTacToe[4]}} </span> | <span ng-click="UserPlaying(5)">{{TicTacToe[5]}} </span> </p>

    <p> <span ng-click="UserPlaying(6)">{{TicTacToe[6]}} </span> | <span ng-click="UserPlaying(7)">{{TicTacToe[7]}} </span> | <span ng-click="UserPlaying(8)">{{TicTacToe[8]}} </span> </p>

</div>

<script src="js/app/app.js"> </script>
<script src="js/Controller/controller.js"> </script>
</body>
</html>
